* {
    margin: 0;
    padding: 0;}

body {
    background-color: #02367b;
    font-family: 'Poppins', sans-serif;}

.cabecalho{
    background-color:#02367b;
    display: flex;
    justify-content: space-between;
    padding: 18px 36px;}

.cabecalho-img{
    width: 15%;}

.cabecalho-lista{
    display: inline-block;
    margin: 0 16px;
    padding: 18px 0;
    font-size: 26px;}

.intro{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;}    

.intro-conteudo{
    width: 35%;}

.titulo{
    padding: 24px 0;
    font-size: 50px;}
    
.paragrafo1{
    font-size:18px ;}    
 
.paragrafo2{
    font-size: 18px;}     

.img1{
    width: 18%;}    

.conteudo-inteiro{
    text-align: center;
    color: #daa520 ;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    font-size: 25px;
    padding-bottom: 45px;}

.conteudo-titulo{
    text-align: center;
    color: #daa520 ;
    font-size: 38px;
    padding: 26px;}

.item1-img{
    width: 35%;}

.item2-img{
    width: 35%;}
   
.item3-img{
    width: 35%;}
    
.rodape-img{
    width: 6%;}
    
.rodape{
    background-color: gray;
    padding: 15px 10;
    text-align: center;}    

.conteudo2{    
    background-color: #7690ac;}

.conteudo-inteiro2{
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    font-size: 25px;
    padding-bottom: 45px;}

.conteudo-titulo2{
    text-align: center;
    color: #daa520 ;
    font-size: 38px;
    padding: 26px;}

.item4-img{
        width: 35%;}
    
.item5-img{
        width: 35%;}
       
.item6-img{
        width: 35%;}
